/*===================================================================================================================================================

                                                            GENERIC

===================================================================================================================================================*/

html {
    box-sizing: border-box;
}


*, * ::before, *::after {
    box-sizing: inherit;
}
/*===================================================================================================================================================

                                                            BODY & GENERAL

===================================================================================================================================================*/

body {
    background-color: #E25254;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.wrapper {
   max-width: 1400px; 
   margin: auto auto;
}

/*===================================================================================================================================================

                                                            CONTENT

===================================================================================================================================================*/

/*----Header----*/

header {
    background-color: #ffff;
    padding: 26px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 
}