/*===================================================================================================================================================

                                                            GENERIC

===================================================================================================================================================*/

html {
    box-sizing: border-box;
}


*, * ::before, *::after {
    box-sizing: inherit;
}
/*===================================================================================================================================================

                                                            BODY & GENERAL

===================================================================================================================================================*/

body {
    background-color: #E25254;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.wrapper {
   max-width: 1400px; 
   margin: auto auto;
}

/*===================================================================================================================================================

                                                            MISE EN PAGE

===================================================================================================================================================*/

/*----Header----*/

header {
    background-color: #ffff;
    padding: 26px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style: none;
}

/*---hero---*/

.hero {
   background: url('../images/HERO.png') no-repeat top center/cover;
   
}
.contenu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(226, 82, 84, 0.9); 
    width: 587px;
    padding: 40px;
}
.hero .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 650px;
    

}
/*===================================================================================================================================================

                                                                FONTS & A

===================================================================================================================================================*/

/*---header---*/

header a {
    text-decoration: none;
    font: 700 1.125rem "Jost", sans-serif;
    color: #0A0908;
}

header .logo {
    font: 700 2.625rem "Jost", sans-serif;
    margin: 0;
    padding: 0;
}

.logo span {
    font-size: 2.5rem;
}

/*---hero---*/

.hero h1 {
    font: 700 3.125rem/110% "Jost", sans-serif;
    color:#FFFFFF;
}
